<div class="card ">
			<div class="card-header card-header-primary card-header-icon">
			  <div class="card-icon">
				<i class="material-icons">create</i>
			  </div>
			  <h4 class="card-title">Edit Program <small class="text-danger">*'s are important</small></h4>
			</div>
			<div class="card-body ">
			  <form action="<?php echo base_url('Teacher/cuSelfProgram'); ?>" id="frmProgram" method="POST" enctype="multipart/form-data" style="width:100%;">
			  <div class="row">
				<div class="col-md-3">
				  <ul class="nav nav-pills nav-pills-info flex-column" role="tablist">
					<li class="nav-item">
					  <a class="nav-link active" data-toggle="tab" href="#link6" role="tablist">
						Curriculum
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link4" role="tablist">
						Basic Information
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
						Important Details
					  </a>
					</li>
					<?php if($prog[0]->type==4){ ?>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link9" role="tablist">
						Admission Details
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link10" role="tablist">
						Faculty
					  </a>
					</li>
					<?php } ?>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link7" role="tablist">
						Certificate
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link11" role="tablist">
						Setting
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
						Conclusion
					  </a>
					</li>
				  </ul>
				  <button type="button" class="btn btn-danger btn-block" onClick="">Submit for Review</button>
				</div>
				
				
				<div class="col-md-9">
				
				  <div class="tab-content">
					
					<div class="tab-pane" id="link4">
					  <div class="row">
							<div class="col-sm-12">
								<div class="form-group">
								  <label for="title">Program Title <span class="text-danger">*</span></label>
								  <input type="text" class="form-control" id="title" name="title" value="<?php echo trim($prog[0]->title); ?>">
								  <input type="hidden" id="category" name="category" value="<?php echo trim($prog[0]->category); ?>">
								  <input type="hidden" id="prog_type" name="prog_type" value="<?php echo trim($prog[0]->ptype); ?>">
								  <input type="hidden" name="type" id="type" value="<?= $prog[0]->type; ?>"/>
								  <input type="hidden" name="prog_id" id="prog_id" value="<?= $prog[0]->id; ?>"/>
								  <input type="hidden" id="status" name="status" value="<?php echo trim($prog[0]->status); ?>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="title">Program Code <span class="text-danger">*</span></label>
									<input type="text" class="form-control" id="pcode" name="pcode" value="<?php echo trim($prog[0]->code); ?>">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="edate">Total Hours</label>
									<input type="number" name="total_hrs" id="total_hrs" value="<?php echo $prog[0]->prog_hrs; ?>" class="form-control">
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									 <div class="checkbox-radios">
										<div class="form-check form-check-inline">
										  <label class="form-check-label text-dark">
											<input class="form-check-input" type="radio" <?php echo ($prog[0]->feetype=='Free')? 'checked' : ''; ?> value="Free" name="feetype" id="free"> Free
											<span class="form-check-sign">
											  <span class="check"></span>
											</span>
										  </label>
										</div>
										<div class="form-check form-check-inline">
										  <label class="form-check-label text-dark">
											<input class="form-check-input" type="radio" <?php echo ($prog[0]->feetype=='Paid')? 'checked' : ''; ?> value="Paid" name="feetype" id="paid"> Paid
											<span class="form-check-sign">
											  <span class="check"></span>
											</span>
										  </label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 d-flex">
								<div class="form-group mr-2">
									 <label for="fees">Total Fees</label>
									<input type="text" name="fees" id="fees" class="form-control" value="<?php echo trim($prog[0]->total_fee); ?>" disabled>
								</div>
								<div class="form-group">
									<label for="fdetails">Discount (If any)</label>
									<input type="number" name="rebate" id="rebate" value="<?php echo $prog[0]->discount; ?>" class="form-control" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="title">Description <span class="text-danger">*</span></label><br>
									<textarea class="form-control" name="overview" id="overview" style="width:100%;"><?php echo trim($prog[0]->overview); ?></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="link5">
					  <div class="row justify-content-center mb-4">
							<div class="col-sm-6 mx-auto">
								<div class="fileinput fileinput-new text-center">
									<div class="fileinput-new thumbnail">
										<img src="<?php echo base_url().'assets/img/banner/'.$prog[0]->banner; ?>" onerror="this.src='<?php echo base_url(); ?>assets/img/image_placeholder.jpg'" class="picture-src" id="wizardPicturePreview" title="" />
									</div><br>
									<label class="text-dark" for="brochure">Upload Banner Image</label>
									<input type="hidden" name="crop_img" id="crop_img" value="" />
									<input type="file" class="custom-file-input" name="avatar" id="avatar" accept="image/jpg, image/jpeg, image/png" style="display:none;">
								</div>
								
							</div>
						</div>
						<div class="row mb-4">
							<div class="col-sm-6">
								<?php if($prog[0]->id!=''){ 
									if($prog[0]->program_brochure!=""){
										if(file_exists('./uploads/programs/'.$prog[0]->program_brochure)){
											echo '<h6 class="text-center"><a href="'.base_url('uploads/programs/'.$prog[0]->program_brochure).'" target="_blank"></a></h6>';
										}else{
											echo '<h6 class="text-center">File is missing.</h6>';
										}
									}else{
										echo '<h6 class="text-center">Upload the brochure below</h6>';
									}
								} ?>
								<div class="custom-file">
									<input type="file" class="custom-file-input" name="schedule" id="schedule" accept=".doc, .docx, application/pdf,application/vnd.ms-excel">
									<label class="custom-file-label text-dark" for="schedule">Choose program brochure</label>
								  </div>
							</div>
							<div class="col-sm-6">
								<?php if($prog[0]->id!=''){ 
									if($prog[0]->certificate_sample!=""){
										if(file_exists('./uploads/programs/'.$prog[0]->certificate_sample)){
											echo '<h6 class="text-center"><a href="'.base_url('uploads/programs/'.$prog[0]->certificate_sample).'" target="_blank"></a></h6>';
										}else{
											echo '<h6 class="text-center">File is missing.</h6>';
										}
									}else{
										echo '<h6 class="text-center">Upload the certificate below</h6>';
									}
								} ?>
								<div class="custom-file">
									<input type="file" class="custom-file-input" name="brochure" id="brochure" accept="image/jpg, image/jpeg, image/png">
									<label class="custom-file-label text-dark" for="brochure">Choose certificate sample</label>
								</div>
							</div>
						</div>
						<div class="row mb-3">
							<div class="col-sm-12">
								<div class="form-group">
									 <label for="intro">Introduction (YouTube Share link)</label><br>
									<textarea name="intro" id="intro" class="form-control" cols="80" rows="5"><?php echo $prog[0]->intro_video_link; ?></textarea>
								</div>
							</div>
						</div>
					    <div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="title">What will student learn? <span class="text-danger">*</span></label><br>
									<textarea class="form-control" name="wlearn" id="wlearn" style="width:100%;"><?php echo trim($prog[0]->why_learn); ?></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="title">Requirement (if any)</label><br>
									<textarea class="form-control" name="requirement" id="requirement" style="width:100%;"><?php echo trim($prog[0]->requirements); ?></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane active" id="link6" style="height:500px; overflow-y:scroll;">
					    <?php include 'curriculum.php'; ?>
					</div>
					<div class="tab-pane" id="link7">
						<div class="row justify-content-center">
							<div class="col-sm-6">
								<div class="custom-file">
									<input type="file" class="custom-file-input" name="bg_image" id="bg_image" accept="image/*">
									<label class="custom-file-label text-dark" for="schedule">Choose background image</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="ctitle">Main Title</label>
									<input type="text" class="form-control" name="ctitle" id="ctitle" value="<?php echo $ctitle; ?>"/>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="txt_before">Text Before</label>
									<input type="text" class="form-control" name="txt_before" id="txt_before" value="<?php echo $txt_before; ?>"/>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="txt_after">Text After</label>
									<input type="text" class="form-control" name="txt_after" id="txt_after" value="<?php echo $txt_after; ?>"/>
								</div>
							</div>
						</div>
						<div class="row justify-content-center">
							<div class="col-sm-6">
								<label class="text-dark">Will student's name apprear?</label>
								<div class="form-group">
									 <div class="checkbox-radios">
										<div class="form-check form-check-inline">
										  <label class="form-check-label text-dark">
											<input class="form-check-input" type="radio" value="1" <?php echo ($bolstud=='1')? 'checked' : ''; ?> name="bolstud" id="cyes"> Yes
											<span class="form-check-sign">
											  <span class="check"></span>
											</span>
										  </label>
										</div>
										<div class="form-check form-check-inline">
										  <label class="form-check-label text-dark">
											<input class="form-check-input" type="radio" value="0" <?php echo ($bolstud=='0')? 'checked' : ''; ?> name="bolstud" id="cno"> No
											<span class="form-check-sign">
											  <span class="check"></span>
											</span>
										  </label>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>
						<h4 class="text-center font-weight-bold">Preview</h4>
						<div class="row justify-content-center mt-3">
							<div class="col-sm-8 mx-auto" id="certify_preview">
								<div id="mheader">
									<img src="<?php echo base_url('assets/img/logo.png'); ?>" id="mlogo"/>
									<div id="info">
										<p class="text-left">
										www.techmagnox.com<br>
										www.billionskills.com<br>
										magnox.iitkgp@gmail.com<br>
										+91 9932242598
										</p>
									</div>
								</div>
								<div id="mbody">
								<h4 class="text-center" style="color:#9e9e0e;font-family: fangsong; font-weight: 600; font-size: 1.5rem;" id="mtitle"><i>Certificate of Completion</i></h4>
								<p>
								<span id="btext">before_text</span> <span id="cstud" class="text-primary" style="display:none;">Student_Name</span> <span id="atext">after_text</span> in <?php echo trim($prog[0]->title); ?>  in our company from <?php echo date('jS M, Y',strtotime($prog[0]->start_date)); ?> to <?php echo date('jS M, Y',strtotime($prog[0]->end_date)); ?> 
								</p>
								<h6 class="text-left" id="csignature">Course Co-ordinator<br>From<br>Magnox Technologies Pvt. Ltd.</h6>
								</div>
								<div id="mfooter">
									<p class="text-left">
									Magnox Technologies Pvt. Ltd., Mani Bhandar (7th Floor), Webel Bhawan, Sector V, Salt Lake, Kolkata - 700091
									</p>
									<p class="text-left">
										Certificate no: BS505
									</p>
								</div>
							</div>
						</div>
					</div>
					</div>
					<div class="tab-pane" id="link8">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="title">Welcome Message <span class="text-danger">*</span></label><br>
									<textarea class="form-control" name="welcome" id="welcome" style="width:100%;"><?php echo trim($prog[0]->welcome_msg); ?></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="title">Congratulation Message <span class="text-danger">*</span></label><br>
									<textarea class="form-control" name="congrats" id="congrats" style="width:100%;"><?php echo trim($prog[0]->congrats_msg); ?></textarea>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-info pull-right"><?php echo ($prog[0]->status=='approved')? 'Update' : 'Save as draft' ?>Save as draft</button>
					</div>
					
				  </div>
				
				</div>
				
			  </div>
			  </form>
			</div>
		  </div>
		  
		  
		  
<script>
$(document).ready(function() {
	toggleFees('<?php echo trim($prog[0]->feetype); ?>');
	toggleCertify('<?php echo trim($prog[0]->bolcertify); ?>');
	toggleStudent('<?php echo trim($bolstud); ?>');
	$("#schedule").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
	
	$("#bg_image").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	  setBackground(this);
	});
	$("#brochure").on("change", function() {
	  var fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
	CKEDITOR.replace('overview');
	CKEDITOR.replace('wlearn');
	CKEDITOR.replace('requirement');
	CKEDITOR.replace('welcome');
	CKEDITOR.replace('congrats');
});
</script>

<script>
var $uploadCrop,
	tempFilename,
	rawImg,
	imageId;
	function readFile(input) {
		if (input.files && input.files[0]) {
		  var reader = new FileReader();
			reader.onload = function (e) {
				$('.upload-demo').addClass('ready');
				$('#cropImagePop').modal('show');
				rawImg = e.target.result;
			}
			reader.readAsDataURL(input.files[0]);
		}
		else {
			Swal.fire("Sorry","You're browser doesn't support the FileReader API", "error");
		}
	}
	$uploadCrop = $('#upload-demo').croppie({
		viewport: {
			width: 400,
			height: 266,
		},
		enforceBoundary: false,
		enableExif: true
	});
	$('#cropImagePop').on('shown.bs.modal', function(){
		// alert('Shown pop');
		$uploadCrop.croppie('bind', {
			url: rawImg
		}).then(function(){
			console.log('jQuery bind complete');
		});
	});
	
	$('#avatar').on('change', function () {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
		imageId = $(this).data('id'); tempFilename = $(this).val();
		$('#cancelCropBtn').data('id', imageId); readFile(this); 
	});
	$('#cropImageBtn').on('click', function (ev) {
		$uploadCrop.croppie('result', {
			type: 'base64',
			format: 'jpeg',
			size: {width: 400, height: 266}
		}).then(function (resp) {crop_img
			$('#wizardPicturePreview').attr('src', resp);
			$('#crop_img').attr('value', resp);
			$('#cropImagePop').modal('hide');
		});
	});
	$('#wizardPicturePreview').on('click', ()=>{
		$('#avatar').click();
	});
</script>
<script>
	
	$('input[type=radio][name=feetype]').on('change', ()=>{
		var radioValue = $('input[type=radio][name=feetype]:checked').val();
		toggleFees(radioValue);
	});
	function toggleFees(rvalue)
	{
		if(rvalue!=''){
			if(rvalue=='Free')
			{
				$('#fees').attr('disabled', true);
				$('#rebate').attr('disabled', true);
			}else{
				$('#fees').removeAttr('disabled');
				$('#rebate').removeAttr('disabled');
			}
		}
	}
	function showAjaxModal(url, header)
	{
		$.ajax({
			url: url,
			success: (response)=>{
				jQuery('#programModal .modal-body').html(response);
				jQuery('#programModal .modal-title').html(header);
				$('#programModal').modal('show');
			}
		})
	}
	function deleteSection(id, title)
	{
		swal({
			title: 'Are you sure?',
			text: "You want to remove section: "+title,
			type: 'warning',
			showCancelButton: true,
			confirmButtonClass: 'btn btn-success',
			cancelButtonClass: 'btn btn-danger',
			confirmButtonText: 'Yes, delete it!',
			buttonsStyling: false
		}).then(function() {
			$.ajax({
				url: baseURL+'Autoprogram/section_delete/'+id,
				type: 'GET',
				success: (res)=>{
					if(res)
					{
						$.notify({icon:"add_alert",message:'The section has been deleted.'},{type:'success',timer:3e3,placement:{from:'top',align:'right'}})	
						$('#sec_'+id).remove();
					}else{
						$.notify({icon:"add_alert",message:'Something went wrong. Deletion error!!!.'},{type:'danger',timer:3e3,placement:{from:'top',align:'right'}})
					}
				}
			})
		}).catch(swal.noop)
	}
</script>